@media only screen and (min-width: 200px) {
  /* html {
    height:100%;
    width:100%;
  }
  body {
    height: 80%;
    background: linear-gradient(#141e30, #243b55);
    color:white;
  } */
  .form-login {
    height: 50%;
    display:flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
  }
  
  .form-login-div {
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin:auto;
    
    }
    .form-login-div label{
      background-color: rgba(0, 0, 0, 0.9);
      height: 60px;
      width: 60px;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      outline: 0.1rem solid white;
    }
    .form-login-div input {
      height: 40px;
      border: none;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.9);
      color:white;
      outline: 0.1rem solid white;
      font-size: 15px;
    }
    .form-login-div input:focus {
      border: none;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.9);
      color:white;
      outline: 0.1rem solid white;
    }
    .form-login-div:nth-child(3) input{
      width: 249px;
      cursor:pointer;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .form-login-div p a {
      text-decoration: underline;
      color: white;
      text-underline-offset: 4px;
      cursor:pointer;
    }
}
